.post {
  margin: 0px auto;
  padding: 0px 0;
}

.post-tags {
  margin-bottom: 0px;
}

.post-content {
  display: inline-flex;
  margin: 10px auto;
}

a.read-more.button {
  margin: 0px auto;
  color: #23b0ff;
}
